<%- include('head.ejs', {activeTab: '404' }); %>
<div class="container-fluid text-center align-items-center">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
      <h3>You reached 404 Page!</h3>
      <br />
      <br />
      <span>Get back here -> <a href="/"><b>Quickdish</b></a></span>
    </div>
    <div class="col"></div>
  </div>
</div>
<%- include('foot.ejs'); %>