<%- include('head.ejs', {activeTab: 'signin' }); %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Sign In To Your Account</div>
        <div class="card-body">
          <form method="post" action="/signin" novalidate>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email address">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <div class="signin-signup" style="margin-left:2px;margin-top:6px;">
              <a href="/signup">Sign Up</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('modal.ejs'); %>
<%- include('foot.ejs'); %>

<script>
  const error = <%- JSON.stringify(error) %>;

  $(document).ready(function() {
    if (error?.length > 0) {
      showToast(error);
    }

  });
</script>